<div class="container">

    <img src="../../../assets/images/image.jpeg" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ab ullam, aliquid tempora reprehenderit molestiae eaque at culpa tenetur quaerat beatae, nostrum numquam fugit! Dignissimos harum distinctio itaque magni. Cupiditate.</p>
    <section>
        <ul>
            <li>Desarrollo Front End</li>
            <li>Dessarrollo back End</li>
            <li>Arquitectira de software</li>
            <li>Ciberseguridad</li>
        </ul>
    </section>
</div>
